.card{
    background-image: url("../../assets/editor.png");
    background-repeat: no-repeat;
    height: 100%;
    padding: 1.25rem .5rem;
    border-radius: 12px;
    background-size: cover;
    width: 500px;
    padding-bottom: 0;

    &-content{
        outline: 0;
        border: 0;
        background: transparent;
        max-width: 100%;
        min-height: 290px;
        max-height: 290px;
        min-width: 500px;
        color: #fff;

        *{
            margin: 0;
        }

        p{
            word-break: break-all;
        }

        code{
            padding: 10px;
            width: calc(100% - 20px);
            display: block;
            background: #252529;
            border-radius: 4px;
        }

        &::-webkit-scrollbar {
            width: 5px
        }
        
        &::-webkit-scrollbar-track {
            background: inherit
        }
        
        &::-webkit-scrollbar-thumb {
            background: rgba(255,255,255,.05);
            border-radius: 99px
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background: rgba(255,255,255,.1)
        }
    }
}